# Python
venv/
__pycache__/
*.py[cod]

# Data & Database (KHÔNG ĐẨY CÁI NÀY)
data/raw_files/*.json
data/raw_files/*.csv
data/database/*.duckdb

# dbt
dbt_clinic/target/
dbt_clinic/dbt_packages/
dbt_clinic/logs/

# Dagster
.tmp_dagster_home*/
*.log

# Môi trường
.env